.back{
    background-image: url("../image/jeremy-bishop-G9i_plbfDgk-unsplash.jpg");
    background-size: cover;
    height: 1400px;
    padding-top: 60px;
    position: relative;
    padding-left: 80px;
}
.outer{
    color: white;
}
.card_cntr{
   display: flex;  
flex-wrap: wrap;
   gap:10px;
   /* justify-content: center; */
   /* padding: 20px;  */
}


