.card{
    width: 250px;
    height: 300px;
    color: rgb(8, 8, 8);
    font-size: 20px;
    margin-top: 20px;
    /* background-image: url("../image/img1.jpg"); */
    color: white;
    text-align: center;
    margin-top: 30px;
    background-color: #016A81;
    margin-left: 30px;
  
}
.card:hover{
    transform: rotate(1deg) scale(1.03);
}

.card p{
    text-align: center;
    color: black;
    font-weight: bold;
    height: 60px;
    width: 250px;
    background-color: whitesmoke;
}

.card img{
    height: 240px;
    width:250px;
    background-repeat: no-repeat;
}
